*{
    text-decoration: none;
  }
  .body
  {
      margin: 0;
  }
  header
  {
    display: flex;
    justify-content: space-between;
    background-color: rosybrown;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;;
  }
  footer
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rosybrown;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .modal-footer
  {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  section
  {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  @media  screen and (max-width:576px) {
    .socialMedia{
    height:15px;
    width: 20px;
    }
    
  }