.background-image
{
  background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-cards
{
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;

}

.insideImageCards
{
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.cards-head
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
@media  screen and (max-width:576px) {
  .insideImageCards
  {
    margin-left: 5px;
    margin-right: 5px;;
  }
  img
  {
    width: 100%;
  }
  #third
  {
    width: 100%;
  }
  
}
.overlay
{
  opacity:0;
  position: relative;
  bottom: 150px;
  background-color: rgb(1, 1, 1);
  width: 100%;
  height: 86%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  color: black;
  cursor: pointer;
  
}
.insideImageCards:hover .overlay
{
  opacity: 0.5;

}
img
{
  border-radius: 10%;
}
