
.cityImage
{
    height: 150px;
    width:150px;
    border-radius: 18%;
    
}
.searchBar
{
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}
.cityCards
{
    display: flex;
    justify-content: space-evenly;
    padding: 4%;
    position: relative;
  
}
.indexcontainer
{
    display: flex;
    flex-direction: column;
}
.city-card-and-name-inner
{
    position: relative;
}
input
{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    border:2px solid #f1f1f1;
    padding: 5px;
    border-radius:12px;
    margin-bottom: 30px;
}
.viewmore
{
    margin-bottom:7%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
