.views
{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
}
.listText
{
    margin-right: 30px;
}
.contentBox
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.contentBox1
{
    width: 450px;
    height:250px;
    background-color:rgb(208, 195, 195);
    margin: 50px;
    display: flex;
}
.hotelImageContent
{
    margin-left: 20px;
    margin-top: 20px;
}
.checked
{
    color: orange;
}
.rating
{
    margin-bottom: 10px;
}
@media screen and (max-width:576px) {
    .views
    {
        margin-left:480px;
    }
    .contentBox{
       
        width: 800px;
        height: 1200px;

    }
    #mapImage
    {
       
        width: 100%;
    }
    .contentBox1
    {
        width: 80%;
    }
    .imageH
    {
        width:450px
    }
    
}